body {
    background-color: #f5f5f5;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
}

h2 {
    color: #4a4a4a;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    text-align: center;
    font-size: 18px;
    color: #666;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
}

input[type=text] {
    width: calc(100% - 16px);
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: calc(50% - 12px);
    background-color: #4F8CFF;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px 4px;
    display: inline-block;
}

button:hover {
    background-color: #337AFF;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

a {
    display: inline-block;
    background-color: #4F8CFF;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 16px;
    margin: 20px auto;
    text-align: center;
}

a:hover {
    background-color: #337AFF;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#stock-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-link {
    margin-top: 20px; /* Optional: Adds some space above the button */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

#comment-below {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    background-color: #DEFBFF;
    justify-content: center;
    align-items: center;

    width: 70vw;
}

#plot-image {
    width: 100%;
    height: auto; /* Maintains aspect ratio */
    display: block; /* Removes any extra space around the image */
    margin: 0 auto; /* Centers the image horizontally */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-results ul {
    list-style-type: none;
    padding: 0;
}

#search-results li {
    margin: 10px 0;
    padding: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
}

#search-results ul {
    list-style-type: none;
    padding: 0;
}

#search-results li {
    display: flex;
    align-items: center; /* Aligns items vertically */
    justify-content: space-between; /* Separates the company info and the button */
    margin: 10px 0;
    padding: 5px;
    background-color: #f0f0f0;
}

.company-info {
    flex-grow: 1; /* Allows company info to take up the rest of the space */
}

.use-button button {
    width: calc(100%);
    padding: 7px 40px; /* Smaller padding for less width */
    color: white;
    cursor: pointer;
    text-align: center;  /* Ensures text is centered horizontally */
    display: inline-block;  /* Aligns text vertically */
}

.use-button {
    margin-left: 5px; /* Adds some space between the text and the button */
}

/*.overview {*/
/*    margin-top: 20px;*/
/*    padding: 10px;*/
/*    background-color: #f9f9f9;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 0 10px #ccc;*/
/*}*/

.container table {
    width: 85%;  /* Table takes up 85% of the screen width */
    margin: 0 auto;  /* Center the table horizontally */
}

.container td {
    vertical-align: top;  /* Aligns content to the top of the table cells */
}

#overview {
    font-size: 15px;
    width: 35%;;  /* Description takes up 35 of the table width */
}

#overview p {
    text-align: left;
    font-size: 14px;
    padding-right: 15px;
}

/*.plot {*/
/*    width: 60%;  !* Plot image takes up 60% of the table width *!*/
/*}*/
