<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link rel="stylesheet" href="../static/main.css?v=4">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <script type="text/javascript" src="../static/script.js"></script>
</head>
<body>
<div id="info-bar">
    Disclaimer: The content provided here is for informational purposes only
    and should not be construed as financial advice. The creator does not hold any responsibility
    for any actions driven by information on this resource. This website is designed
    to demonstrate the application of data analysis and machine learning techniques to financial data.
    Always consult with a qualified professional before making any financial decisions.
</div>

<h2>Stock Market Price Predictor</h2>
<p>This web app uses ML to predict the price of the stock </p>

<section id="company-info">
    <h3>Company Overview: {{ overview['Name'] }} </h3>
    <p><strong>Description:</strong> {{ overview['Description'] }}</p>
    <h3>Financial Overview</h3>
    <div id="financials">
        <p><strong>Sector:</strong> {{ overview['Sector'] }}</p>
        <p><strong>Industry:</strong> {{ overview['Industry'] }}</p>
        <p><strong>Market Cap:</strong> {{ overview['MarketCapitalization'] }}</p>
        <p><strong>EBITDA:</strong> {{ overview['EBITDA'] }}</p>
        <p><strong>PE Ratio:</strong> {{ overview['PERatio'] }}</p>
        <p><strong>Dividend Yield:</strong> {{ overview['DividendYield'] }}</p>
    </div>
</section>

<section id="charts">
    <h2>Historical Price Data</h2>
    <img class="plot-image" src="data:image/png;base64,{{ plot_url }}" alt="Stock plot">
    <h2>Price Prediction for Next 7 Days</h2>
    <img class="plot-image" src="data:image/png;base64,{{ pred_plot_url }}" alt="Price prediction plot">
    <!-- Future section for monthly prediction -->
</section>

<a id="home-button" href="/">Go to the home page</a>

<article id="methodology">
    <h2>Methodology</h2>
    <p>Details about the predictive model used...</p>
</article>

<footer>
    <p>Contact us at: <a href="https://github.com/AlexeyKarz">GitHub</a> and <a href="https://www.linkedin.com/in/aleksei-karzanov/">LinkedIn</a></p>
</footer>

</body>
</html>