<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link rel="stylesheet" href="../static/main.css?v=4">
    <script type="text/javascript" src="../static/script.js"></script>
<!--    <script>-->
<!--    document.addEventListener('DOMContentLoaded', function () {-->
<!--        const symbol = '{{ symbol }}';  // Passed from Flask into the template-->
<!--        displayStockOverview(symbol);-->
<!--    });-->
<!--</script>-->

</head>
<body>
<h2>Stock Market Price Predictor</h2>
<p>The description and analysis</p>
<!--<div id="stock-overview"></div>-->
<!-- <img id="plot-image" src="data:image/png;base64,{{ plot_url }}" alt="Stock plot">-->
<h2>Stock Market Price Predictor</h2>
<!--    <div class="container">-->
<!--        <div class="plot">-->
<!--            <img id="plot-image" src="data:image/png;base64,{{ plot_url }}" alt="Stock plot">-->
<!--        </div>-->
<!--        <div class="overview">-->
<!--            <h3>Stock Overview for {{ overview['Symbol'] }}</h3>-->
<!--            <p><strong>Company:</strong> {{ overview['Name'] }}</p>-->
<!--            <p><strong>Sector:</strong> {{ overview['Sector'] }}</p>-->
<!--            <p><strong>Industry:</strong> {{ overview['Industry'] }}</p>-->
<!--            <p><strong>Description:</strong> {{ overview['Description'] }}</p>-->
<!--            <p><strong>Market Cap:</strong> {{ overview['MarketCapitalization'] }}</p>-->
<!--            <p><strong>EBITDA:</strong> {{ overview['EBITDA'] }}</p>-->
<!--            <p><strong>PE Ratio:</strong> {{ overview['PERatio'] }}</p>-->
<!--            <p><strong>Dividend Yield:</strong> {{ overview['DividendYield'] }}</p>-->
<!--        </div>-->
<!--    </div>-->

<div class="container">
    <table>
        <tr>
            <td id="overview">
                <h3>Stock Overview for {{ overview['Symbol'] }}</h3>
                <p><strong>Company:</strong> {{ overview['Name'] }}</p>
                <p><strong>Sector:</strong> {{ overview['Sector'] }}</p>
                <p><strong>Industry:</strong> {{ overview['Industry'] }}</p>
                <p><strong>Description:</strong> {{ overview['Description'] }}</p>
                <p><strong>Market Cap:</strong> {{ overview['MarketCapitalization'] }}</p>
                <p><strong>EBITDA:</strong> {{ overview['EBITDA'] }}</p>
                <p><strong>PE Ratio:</strong> {{ overview['PERatio'] }}</p>
                <p><strong>Dividend Yield:</strong> {{ overview['DividendYield'] }}</p>
            </td>
            <td>
                <img id="plot-image" src="data:image/png;base64,{{ plot_url }}" alt="Stock plot">
            </td>
        </tr>
    </table>
</div>


</body>
</html>