<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analysis</title>
    <link rel="stylesheet" href="../static/main.css?v=4">
    <script type="text/javascript" src="../static/script.js"></script>
</head>
<body>
<div id="info-bar">
    Disclaimer: The content provided here is for informational purposes only
    and should not be construed as financial advice. The creator does not hold any responsibility
    for any actions driven by information on this resource. This website is designed
    to demonstrate the application of data analysis and machine learning techniques to financial data.
    Always consult with a qualified professional before making any financial decisions.
</div>
<h2>Stock Market Price Predictor</h2>
<p>The description and analysis</p>
<div class="container">
    <table>
        <tr>
            <td id="overview">
                <h3>Stock Overview for {{ overview['Symbol'] }}</h3>
                <p><strong>Company:</strong> {{ overview['Name'] }}</p>
                <p><strong>Sector:</strong> {{ overview['Sector'] }}</p>
                <p><strong>Industry:</strong> {{ overview['Industry'] }}</p>
                <p><strong>Description:</strong> {{ overview['Description'] }}</p>
                <p><strong>Market Cap:</strong> {{ overview['MarketCapitalization'] }}</p>
                <p><strong>EBITDA:</strong> {{ overview['EBITDA'] }}</p>
                <p><strong>PE Ratio:</strong> {{ overview['PERatio'] }}</p>
                <p><strong>Dividend Yield:</strong> {{ overview['DividendYield'] }}</p>
            </td>
            <td>
                <img id="plot-image" src="data:image/png;base64,{{ plot_url }}" alt="Stock plot">
            </td>
        </tr>
    </table>
</div>
<img id="pred-plot-image" src="data:image/png;base64,{{ pred_plot_url }}" alt="Price prediction plot">
</body>
</html>