<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockPP</title>
    <link rel="stylesheet" href="../static/main.css?v=4">
<!--    <script type="text/javascript" src="../static/script.js?v=2"></script>-->
</head>
<body>
<h2>Stock Market Price Predictor</h2>
<p>This web app uses ML to predict the price of the stock </p>

<form action="/" method="post">
    <input type="text" id="stock-name" name="stock-name" placeholder="Enter stock name">
    <button type="submit">Calculate</button>
</form>

</body>
</html>