<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StockPP</title>
    <link rel="stylesheet" href="../static/main.css?v=4">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!--    <script type="text/javascript" src="../static/script.js?v=2"></script>-->
    <script type="text/javascript" src="../static/script.js"></script>

</head>
<body>
<div id="info-bar">
    Disclaimer: The content provided here is for informational purposes only
    and should not be construed as financial advice. The creator does not hold any responsibility
    for any actions driven by information on this resource. This website is designed
    to demonstrate the application of data analysis and machine learning techniques to financial data.
    Always consult with a qualified professional before making any financial decisions.
</div>
<h2>Stock Market Price Predictor</h2>
<p>This web app uses ML to predict the price of the stock </p>

<!-- Stock Entry Form -->
<form action="/" method="post">
    <input type="text" id="stock-name" name="stock-name" placeholder="Enter stock symbol (e.g. AAPL) ">
    <input type="checkbox" id="retrain" name="retrain" value="true">
    <label for="retrain">Retrain the model (might take some time)</label>
        <div class="form-button">
        <button type="submit">Calculate</button>
        </div>
</form>

<!-- Helper Form for Finding Stock Symbols -->
<form>
    <p><b>Don't know the stock symbol? Try to find it by entering company name below</b></p>
    <input type="text" id="company-name" placeholder="Enter company name to find symbol">
    <div class="form-button">
    <button type="button" onclick="findSymbol()">Find Symbol</button>
    </div>
</form>
<!-- Display Search Results -->
<div id="search-results"></div>

<!-- Welcome Section -->
<div class="welcome-section">
    <h1>Welcome to the Stock Market Price Predictor</h1>
    <p>Explore stock market insights and predict future prices with our advanced machine learning-driven platform. Ideal for investors and traders seeking to enhance their decision-making process.</p>
    <ul>
        <li><strong>Stock Symbol Lookup:</strong> Search and analyze stocks instantly.</li>
        <li><strong>Detailed Analysis:</strong> Access comprehensive financial summaries and operational data of companies.</li>
        <li><strong>Future Predictions:</strong> Gain predictive insights with our robust time-series forecasting model.</li>
    </ul>
</div>


<footer>
    <p>Contact us at: <a target=”_blank” href="https://github.com/AlexeyKarz">GitHub</a> and <a target=”_blank” href="https://www.linkedin.com/in/aleksei-karzanov/">LinkedIn</a></p>
</footer>

</body>
</html>